DISABLE_AUTH=true
DATABASE_URL=postgresql://user:password@localhost:5432/bsl_hub
DATABASE_SSL=false
NEXT_PUBLIC_API_URL=http://localhost:5000
SESSION_SECRET=
INTERNAL_SECRET=
MAIN_SERVER_URL=http://localhost:5000
DEFAULT_OBJECT_STORAGE_BUCKET_ID=
